body {
  background-image: linear-gradient(crimson, darkorange);
  background-attachment: fixed;
  justify-content: center;
  display: flex;
}
.app  {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}
.info {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.kep {
 
}